

.question-pnl {
	border-bottom: 1px solid #ccc;
}

.question-pnl :hover {
	background-color: #f6f6f6;
}

@media print {
	body {
		width: 8.5in;
		color: #252525;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0;
		margin: 0 auto;
	}
	.wrapper {
		width: 100%;
		position: relative;
	}
	.w75p {
		width: 68%;
	}
	.print-pnl {
		display: none;
	}
	.main-info-pnl {
		border: 3px solid #ffbd52;
	}
	.grp-cntnr {
		border: 2px solid #696866;
	}
	.grid-table {
		border: 2px solid #99999b;
	}
	.question-pnl {
		border: 2px solid #99999b;
	}
	.questionPnlTbl {
		box-sizing: border-box;
	}
	.menu-tbl {
		border: 2px solid #99999b;
	}
	.norm-tbl {
		border: 2px solid #99999b;
	}
	.summary-cntnr {
		border: 2px solid #99999b;
	}
	.indx-blck {
		border: 2px solid #888888;
		margin-right: 8px;
		padding: 4px;
	}
}

